<div style="margin: 200px; position: absolute; display: inline; align-items: center">
  <p>Para continuar presione</p>
  <div id="paypal-button"></div>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    env: 'production',
    client: {
      sandbox: 'AVQx_luQWduTNNaI4UqnGstxP_0SAZFSSl9qQabwT3FS2fCAOFV8PedBGeSlN3USHn6ruk4cjAnAY8nA',
      production: 'AXJGzpvw5v4maBSG9pHqoxyn0ffldJqAy_pRDgb5PA8h4F_F2WsYr4MN6mDj0WWPaCH_Zy6sCstLA2Tk'
    },
    payment: function (data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '0.20',
            currency: 'USD'
          }
        }]
      });
    },
    onCancel: function (data) {
      console.log('The payment was cancelled!');
    },
    onAuthorize: function (data, actions) {
      return actions.payment.execute()
        .then(function () {
          console.log('Thank you for your purchase!');
        });
    }
  }, '#paypal-button');
</script>